<h1>search for places</h1>

<form id="placeSearch" class="" action="/places" method="post">
  <label for="keyword"></label>
  <input type="text" name="keywordname" id="keyword">
  <input type="submit" name="submit-name" value="Search">
</form>

<ul>
  {{#each results as |result| }}
  <li>
    <p>
      Result name is: {{ result.name }}!
    </p>
  </li>
  {{/each}}
</ul>
